<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/appicon_smartel_original"
        android:label="스마텔"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySmartel_ver_1"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
<!--        <receiver
            android:name=".LargeWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/large_widget_info" />
        </receiver>-->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity
            android:name=".DeleteAcct.GoodbyeActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteAcct.CheckNumberDeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteAcct.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".NewPW.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".NewPW.CheckNumberChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".NewPW.IdentificationSelfActivity"
            android:exported="false" />
        <activity
            android:name=".FindPWActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false"
            android:label="Web View Activity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".FCMService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>